<!doctype html>
<html lang="<%- config.language %>">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%- page.title || config.title %> - A powerful Sass library</title>
  <link href="https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff2" rel="preload" as="font" tyoe="font/woff2" crossorigin>
  <link href="https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Medium.woff2" rel="preload" as="font" tyoe="font/woff2" crossorigin>
  <link href="https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff2" rel="preload" as="font" tyoe="font/woff2" crossorigin>
  <link href="//fonts.googleapis.com/css?family=Source+Code+Pro:500" rel="stylesheet">
  <link href="/style.css<%- `?${site.ver.css}` %>" rel="stylesheet">
  <script async src="//www.googletagmanager.com/gtag/js?id=UA-149362176-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-149362176-1');
  </script>
</head>
<body>

<%- partial('_partial/header') %>

<div class="l-wrapper">
  <div class="l-wrapper_inner">
    <aside class="l-sidebar">
      <div class="l-sidebar_inner">
        <%- partial('_partial/sidebar') %>
      </div>
    </aside>
    <main class="l main">
      <article class="p content">
        <%- body %>
      </article>
    </main>
    <%- partial('_partial/toc') %>
  </div>
</div>

<script src="/script.js<%- `?${site.ver.js}` %>"></script>
</body>
</html>